["{{.dirs.nixos_container_config}}/firefox/userjs/1_pyllyukko.js"]
type = "file"
url = "https://raw.githubusercontent.com/pyllyukko/user.js/7ea21b15abf8d31436ae09923a88a7f3ec0ba808/user.js"

["{{.dirs.nixos_container_config}}/firefox/userjs/0_betterfox.js"]
type = "file"
url = "https://raw.githubusercontent.com/yokoffing/Betterfox/refs/tags/128.0/user.js"
