["{{.dirs.nixos_container_config}}/firefox/userjs/1_arkenfox.js"]
type = "file"
url = "https://raw.githubusercontent.com/arkenfox/user.js/refs/tags/128.0/user.js"

["{{.dirs.nixos_container_config}}/firefox/userjs/0_betterfox.js"]
type = "file"
url = "https://raw.githubusercontent.com/yokoffing/Betterfox/refs/tags/128.0/user.js"
