rec {
  homeDir = {
    host = "{{env "HOME"}}";
    local = "/home";
  };
  xdgRuntimeDir = "{{env "XDG_RUNTIME_DIR"}}";
  waylandDisplay = "{{env "WAYLAND_DISPLAY"}}";
  containerVolume = "${homeDir.host}/{{.dirs.nixosContainerVolume}}";
  firefoxData = "${homeDir.host}/{{.dirs.firefoxData}}";
}
