[Desktop Entry]
Type=Application
Name=Brave
Exec=start-container.fish brave brave %U
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
