{
  homeDir = {
    host = "{{env "HOME"}}";
    local = "/home";
  };
  xdgRuntimeDir = "{{env "XDG_RUNTIME_DIR"}}";
  waylandDisplay = "{{env "WAYLAND_DISPLAY"}}";
  containerState = "{{.dirs.nixosContainerState}}";
  firefoxData = "{{.dirs.firefoxData}}";
}
