#! /usr/bin/env bash

riverctl spawn "dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY XDG_CURRENT_DESKTOP XCURSOR_THEME XCURSOR_SIZE XDG_CURRENT_DESKTOP=river"

riverctl default-attach-mode bottom
riverctl background-color 0x000000
riverctl focus-follows-cursor normal
riverctl hide-cursor when-typing enabled
riverctl set-cursor-warp on-focus-change
riverctl set-repeat 25 400

source "$HOME/.config/river/keybinds"

riverctl rule-add ssd

riverctl default-layout rivertile
rivertile \
    -view-padding 1 -outer-padding 2 \
    -main-location left \
    -main-count 1 \
    -main-ratio 0.5 &

riverctl spawn "yambar -s -d none"
