[data.colors.terminal]
search = "{{.colors.terminal.yellow}}"
activeSearch = "{{.colors.terminal.red}}"

[data.colors.desktop]
border = "{{.colors.desktop.base}}"
activeBorder = "{{.colors.desktop.text}}"