[data.env.dirs]
scripts = "{{.chezmoi.homeDir}}/.local/share/scripts"
containerSession = "/run/nixos-containers"
nixosContainerConfig = "{{.chezmoi.homeDir}}/.local/share/nixos-containers"

[data.firefox]
profileName = "default"