[colors.primary]
background = "#{{.colors.terminal.base}}"
foreground = "#{{.colors.terminal.text}}"
dim_foreground = "#{{.colors.terminal.text}}"
bright_foreground = "#{{.colors.terminal.text}}"

[colors.cursor]
text = "#{{.colors.terminal.base}}"
cursor = "#{{.colors.terminal.rosewater}}"

[colors.search.matches]
foreground = "#{{.colors.terminal.base}}"
background = "#{{.colors.terminal.search}}"

[colors.search.focused_match]
foreground = "#{{.colors.terminal.base}}"
background = "#{{.colors.terminal.activeSearch}}"

[colors.footer_bar]
foreground = "#{{.colors.terminal.base}}"
background = "#{{.colors.terminal.text}}"

[colors.hints.start]
foreground = "#{{.colors.terminal.base}}"
background = "#{{.colors.terminal.peach}}"

[colors.hints.end]
foreground = "#{{.colors.terminal.base}}"
background = "#{{.colors.terminal.subtext0}}"

[colors.selection]
text = "#{{.colors.terminal.base}}"
background = "#{{.colors.terminal.rosewater}}"

[colors.normal]
black = "#{{.colors.terminal.surface0}}"
red = "#{{.colors.terminal.red}}"
green = "#{{.colors.terminal.green}}"
yellow = "#{{.colors.terminal.yellow}}"
blue = "#{{.colors.terminal.blue}}"
magenta = "#{{.colors.terminal.mauve}}"
cyan = "#{{.colors.terminal.teal}}"
white = "#{{.colors.terminal.subtext0}}"

[colors.bright]
black = "#{{.colors.terminal.surface1}}"
red = "#{{.colors.terminal.red}}"
green = "#{{.colors.terminal.green}}"
yellow = "#{{.colors.terminal.yellow}}"
blue = "#{{.colors.terminal.blue}}"
magenta = "#{{.colors.terminal.mauve}}"
cyan = "#{{.colors.terminal.teal}}"
white = "#{{.colors.terminal.subtext1}}"

[colors.dim]
black = "#{{.colors.terminal.surface0}}"
red = "#{{.colors.terminal.red}}"
green = "#{{.colors.terminal.green}}"
yellow = "#{{.colors.terminal.yellow}}"
blue = "#{{.colors.terminal.blue}}"
magenta = "#{{.colors.terminal.mauve}}"
cyan = "#{{.colors.terminal.teal}}"
white = "#{{.colors.terminal.subtext0}}"
