[colors.primary]
background = "{{.colors.base}}"
foreground = "{{.colors.text}}"
dim_foreground = "{{.colors.text}}"
bright_foreground = "{{.colors.text}}"

[colors.cursor]
text = "{{.colors.rosewater}}"
cursor = "{{.colors.rosewater}}"

[colors.search.matches]
foreground = "{{.colors.base}}"
background = "{{.colors.search}}"

[colors.search.focused_match]
foreground = "{{.colors.base}}"
background = "{{.colors.activeSearch}}"

[colors.footer_bar]
foreground = "{{.colors.base}}"
background = "{{.colors.text}}"

[colors.hints.start]
foreground = "{{.colors.base}}"
background = "{{.colors.peach}}"

[colors.hints.end]
foreground = "{{.colors.base}}"
background = "{{.colors.subtext0}}"

[colors.selection]
text = "{{.colors.base}}"
background = "{{.colors.rosewater}}"

[colors.normal]
black = "{{.colors.surface0}}"
red = "{{.colors.red}}"
green = "{{.colors.green}}"
yellow = "{{.colors.yellow}}"
blue = "{{.colors.blue}}"
magenta = "{{.colors.mauve}}"
cyan = "{{.colors.teal}}"
white = "{{.colors.subtext0}}"

[colors.bright]
black = "{{.colors.surface1}}"
red = "{{.colors.red}}"
green = "{{.colors.green}}"
yellow = "{{.colors.yellow}}"
blue = "{{.colors.blue}}"
magenta = "{{.colors.mauve}}"
cyan = "{{.colors.teal}}"
white = "{{.colors.subtext1}}"

[colors.dim]
black = "{{.colors.surface0}}"
red = "{{.colors.red}}"
green = "{{.colors.green}}"
yellow = "{{.colors.yellow}}"
blue = "{{.colors.blue}}"
magenta = "{{.colors.mauve}}"
cyan = "{{.colors.teal}}"
white = "{{.colors.subtext0}}"
