'$schema' = 'https://starship.rs/config-schema.json'

format = '''
  $username$hostname$directory$fill$git_branch$git_status$git_state$nix_shell
  $character
'''
continuation_prompt = '  [:](surface2 bold) '

palette = 'catppuccin_macchiato'

[username]
style_user = 'text bold'
format = '[$user]($style)'

[hostname]
style = 'text bold'
ssh_symbol = '[󰖟](blue) '
format = '[@$ssh_symbol$hostname]($style) '

[directory]
style = 'teal bold'
read_only_style = 'yellow bold'
format = '[[$read_only]($read_only_style) $path]($style) '
read_only = ''
truncation_symbol = '…/'

[fill]
symbol = ' '

[git_branch]
style = "text bold"
format = '[ $branch]($style)'

[git_state]
style = "text bold"
format = '[\($state( $progress_current/$progress_total)\)]($style) '

[git_status]
# $all_status
conflicted = '[󰉁$count](yellow bold) '
untracked = '[$count](overlay2 bold) ' 
stashed = '[≡$count](mauve bold) '
modified = '[$count](peach bold) '
staged = '[$count](green bold) '
renamed = '[$count](blue bold) '
deleted = '[$count](red bold) '
# $ahead_behind
ahead = '[$count](green bold)'
behind = '[$count](red bold)'
diverged = '[$ahead_count](green bold)[$behind_count](red bold)'
up_to_date = '[✓](green bold)'
format = '(\[$ahead_behind\]) $all_status'

[nix_shell]
style = 'blue bold'
format = '[\(󰜗 $name\)]($style) '

[palettes.catppuccin_macchiato]
rosewater = "#f4dbd6"
flamingo = "#f0c6c6"
pink = "#f5bde6"
mauve = "#c6a0f6"
red = "#ed8796"
maroon = "#ee99a0"
peach = "#f5a97f"
yellow = "#eed49f"
green = "#a6da95"
teal = "#8bd5ca"
sky = "#91d7e3"
sapphire = "#7dc4e4"
blue = "#8aadf4"
lavender = "#b7bdf8"
text = "#cad3f5"
subtext1 = "#b8c0e0"
subtext0 = "#a5adcb"
overlay2 = "#939ab7"
overlay1 = "#8087a2"
overlay0 = "#6e738d"
surface2 = "#5b6078"
surface1 = "#494d64"
surface0 = "#363a4f"
base = "#24273a"
mantle = "#1e2030"
crust = "#181926"