'$schema' = 'https://starship.rs/config-schema.json'

format = '''
  $username$hostname$directory$fill$git_branch$git_status$git_state$nix_shell
  $character
'''
continuation_prompt = '  [∙](surface2 bold) '

palette = 'catppuccin_macchiato'

[username]
style_user = 'text bold'
format = '[$user]($style)'

[hostname]
style = 'text bold'
ssh_symbol = '[󰖟](blue) '
format = '[@$ssh_symbol$hostname]($style) '

[directory]
style = 'sky bold'
format = '[$path( $read_only)]($style) '
read_only = '!'
truncation_length = 8
truncation_symbol = '../'

[fill]
symbol = ' '

[git_branch]
style = "text bold"
format = '[ $branch]($style)'

[git_state]
style = "text bold"
format = '[\($state( $progress_current/$progress_total)\)]($style) '

[git_status]
# $all_status
conflicted = '[$count](yellow bold) '
untracked = '[?$count](overlay2 bold) ' 
stashed = '[≡$count](mauve bold) '
modified = '[󱈸$count](peach bold) '
staged = '[+$count](green bold) '
renamed = '[\$$count](blue bold) '
deleted = '[-$count](red bold) '
# $ahead_behind
ahead = '[⇡$count](green bold)'
behind = '[⇣$count](red bold)'
diverged = '[⇡$ahead_count](green bold)[⇣$behind_count](red bold)'
up_to_date = ''
format = '(\[$ahead_behind\]) $all_status'

[nix_shell]
style = 'blue bold'
format = '[\(󱄅 $name\)]($style) '

[palettes.catppuccin_macchiato]
{{range $key, $value := .colors}}
{{$key}} = "#{{$value}}"
{{end}}